.job {
    background-color: #F3F2FC;
    margin-top: 50px;
}

.job-menu {
    background-color: #E9E8F7;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-menu span {
    font-size: 12.495px;
    color: #9E9E9E;
}

.job-menu span a {
    color: #5049E1;
}

.job-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
    margin-top: 70px;
    padding-bottom: 70px;
}

.job-info-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}

.header-body {
    display: flex;
    gap: 15px;
}

.job-role .role {
    font-size: 1.384em;
    margin-bottom: 1rem;
}

.job-date {
    font-size: 15px;
}

.postDate {
    color: #606060;
}

.job-description {
    margin-top: 70px;
}

.medium-title {
    text-align: center;
    font-size: 18.666px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.job-title {
    text-align: center;
    margin-bottom: 20px;
}

.application-process {
    margin-top: 60px;
}

.application-process h2 {
    font-size: 18.666px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.application-process p {
    line-height: 1.72em;
}





.image-wrapper {
    border-radius: 5px;
    background-color: #f8f8f8;
}

.image-wrapper img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 10px;
}




/*Right side*/
.job-right-side {
    display: flex;
    flex-direction: column;
}

.job-listing {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.job-id {
    font-size: 15px;
}

.job-listing ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.custom-icon {
    color: #838383;
    margin-right: 5px;
}

.job-listing-btn {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 14px;
    margin: 5px 0;
    color: currentColor;
    line-height: 1.25em;
}

.job-expiry {
    font-size: 12.495px;
    color: #262626;
}

.job-overview {
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.job-overview h2 {
    margin-bottom: 20px;
}

.job-overview ul li {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.job-icon-wrapper {
    background: #F3F2FC;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.job-icon {
    color: #5049e1;
}

.job-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-item :first-child{
    font-size: 15;
    color: #000;
    font-weight: 500;
}

.job-item :last-child{
    color: #5F5F5F;
    font-size: 14px;
}