<section class="job" *ngIf="job">
  <div class="job-menu">
    <div class="teste container">
        <span><a routerLink="/">Home</a></span>
        <span> &nbsp; &nbsp; / &nbsp; {{ job.role }}</span>
    </div>
  </div>

  <div class="container job-body">
    <div class="job-info-content">
      <div class="header-body">
        <div class="image-wrapper">
          <img src="{{ job.companyImage }}" />
        </div>
        <div class="job-role">
          <h1 class="role">{{ job.role }}</h1>
          <p class="job-date">
            Plugtech
            <span class="postDate">Postado em {{ job.createdAt }}</span>
          </p>
        </div>
      </div>

      <div class="job-description">
        <h2 class="medium-title">Recrutamento</h2>
        <h3 class="job-title">{{ job.role }}</h3>
        <p>
          {{ job.description }}
        </p>
      </div>

      <div class="application-process">
        <h2 class="">PROCESSO DE CANDIDATURA</h2>
        <p>
          Se você tem interesse nesta oportunidade de emprego, não hesite, envie
          a sua candidatura para o endereço eletrônico indicado abaixo em
          “Aplicar Agora“.
        </p>
      </div>
    </div>

    <div class = "job-right-side">
      <div class = "job-listing">
        <span class = "job-id">Vaga ID: 98014</span>
        <app-button [name] = "btnTxt" />
        <ul>
          <li>
            <a class = "job-listing-btn">
              <fa-icon icon="plus" class="custom-icon" />
              Guardar
            </a>
         </li>

          <li>
            <a class = "job-listing-btn">
              <fa-icon icon="print" class="custom-icon" />
              Imprimir
            </a>
          </li>

          <li>
            <a class = "job-listing-btn">
              <fa-icon icon="envelope" class="custom-icon" />
              Email
            </a>
          </li>

        </ul>
        <span class="job-expiry">A aplicação termina em {{ job.expirationDate }}</span>
      </div>

      <div class="job-overview">
        <h2>Visão Geral</h2>
        <ul>
          <li>
            <div class="job-icon-wrapper">
              <fa-icon icon="location-dot" class="job-icon" size="lg" />
            </div>
            <div class="job-item">
              <span>Location</span>
              <span>
                <a href="">Angola</a>
              </span>
            </div>
          </li>

          <li>
            <div class="job-icon-wrapper">
              <fa-icon icon="briefcase" class="job-icon" size="lg" />
            </div>
            <div class="job-item">
              <span>Categória da Vaga</span>
              <span>
                {{ job.category.name }}
              </span>
            </div>
          </li>

          <li>
            <div class="job-icon-wrapper">
              <fa-icon icon="sack-dollar" class="job-icon" size="lg" />
            </div>
            <div class="job-item">
              <span>Salário</span>
              <span>
                $0
              </span>
            </div>
          </li>

          <li>
            <div class="job-icon-wrapper">
              <fa-icon icon="handshake-simple" class="job-icon" size="lg" />
            </div>
            <div class="job-item">
              <span>Tipo de Emprego</span>
              <span>
                Tempo Inteiro
              </span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    
  </div>
</section>
