<section class="jobs">
    
    <div class="container">
        <h2 class="section-title">Vagas Mais Recentes</h2>
        <div class="jobs-container">
            <div class="job-card" *ngFor="let job of jobs">
                <div class="header">
                    <div class="img-wrapper"><img src="{{ job.companyImage }}"></div>
                    <h3 class="company-name">{{ job.company }}</h3>
                </div>
                <span class="datetime">postado em {{ job.createdAt }}</span>
                <div class="job-body">
                    <h2 class="role">{{ job.role }}</h2>
                    <p class="location">{{ job.jobLocation }}</p>
                </div>
                <div class="footer">
                    <p class="category">{{ job.category.name}}</p>
                    <div class="btn-wrapper">
                        <button routerLink="jobs/{{job._id}}" class="btn-ver-vaga">Ver Vaga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
