.jobs {
    margin-top: 12em;
    background-color: #e5e8f8;
}

.jobs > div {
    padding-bottom: 8em;
}
.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-gap: 20px;
}

.section-title {
   font-size: 31;
   padding: 60px 0 60px 0
}

.job-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.job-card .header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img-wrapper {
    background-color: #e5e8f8;
    padding: 15px;
    border-radius: 5px;
}

.company-name {
    font-size: 1rem;
    color: #000;
    font-weight: normal;
}

.job-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.datetime {
    color: #B2B2B2;
    font-size: 12.495px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.job-card .role {
    font-size: 1.2rem;
    font-weight: 500;
}

.job-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
}

.footer .category {
    color: #5049e1;
    font-size: 10.41px;
}

.btn-wrapper {
    margin-top: 12px;
}

.btn-ver-vaga {
    border: none;
    border-radius: 6px;
    background-color: #e9e8f7;
    color: #5049e1;
    padding: 10px 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s
}

.btn-ver-vaga:hover {
    background: #5049e1;
    color: #fff;
}